@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-black: #322d2d;
  --color-white: #fcf9f7;
  --color-grey1: #e3e3e3;
  --color-grey2: #bcbcbc;
  --color-grey3: #555555;
  --color-yellow: #fdc746;
  --color-orange: #f9ac23;
  --color-dark-orange: #c86c02;
  --color-light: rgba(132, 139, 200, 0.18);
  --font1: "Akatab", sans-serif;
  --font2: "Agbalumo", system-ui;
  --font3: "Afacad", sans-serif;
  --box-shadow: 0 32px 48px var(--color-light);
}
html {
  scroll-behavior: smooth;
}
.dark-theme {
  --color-black: #fcf9f7;
  --color-white: #322d2d;
  --color-dark-gray: var(--color-black);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-white);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;  
}
section {
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}

main {
  padding: 0 30px;
}
/* loading page style */

.loading-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 100vh;
  /* padding: 30px; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* margin-left: 690px;
  margin-top: 200px; */
}

.loading-container img {
  width: 100px;
}


.loading-container .loader {
  width: 100px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-orange) 90%, var(--color-white));
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}
/* -------------------------------------------- Start header section--------------------------------------------------------------------------- */
header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--color-black);
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo .logo {
  width: 45px;
}

/* nav links style */
header .nav-links {
  font-family: var(--font1);
  color: var(--color-black);
  text-decoration: none;
  font-size: var(--font-medium);
  transition: 0.3s all;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

header .nav-links:hover {
  color: var(--color-orange);
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul {
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

header nav ul li {
  height: 100%;
  width: fit-content;
}
header .movie-list .movie-Categories {
  background-color: var(--color-white);
  width: 500px;
  height: 500px;
  position: absolute;
  display: none;
  grid-template-columns: 250px 250px;
  padding: 0;
  top: 50px;
  gap: 0;
  box-shadow: var(--box-shadow);
}

header .movie-list:hover .movie-Categories {
  display: grid;
}
/* header .left-header:hover .movie-list .movie-Categories {
  display: block;
 
} */



header .movie-list .movie-Categories li {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: var(--font1);
  font-size: 16px;
}

header .movie-list .movie-Categories li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s all;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  color: var(--color-black);
  padding: 0 20px;
}

header .movie-list .movie-Categories li a:hover {
  color: var(--color-orange);
  box-shadow: var(--color-light) 0px 3px 8px;
}

/* right header */
.right-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.search-bar-div {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bi-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 18px;
  color: var(--color-grey2);
  cursor: pointer;
}

.search-bar-div input {
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 35px;
  width: 250px;
  border-radius: 50px;
  background-color: var(--color-grey1);
}

.search-bar-div input::placeholder {
  font-size: 15px;
  color: var(--color-grey3);
}

/* ------------------------------------------------------------ Start theme search section-------------------------------------------------- */
@keyframes theme-icon-animation {
  1% {
    .theme-icon i {
      bottom: -22px;
      z-index: 1;
    }
  }
  40% {
    .theme-icon i {
      bottom: -7px;
    }
  }
  70% {
    .theme-icon i {
      bottom: 20px;
    }
  }
  100% {
    .theme-icon i {
      bottom: 13px;
    }
  }
}

header .right-header .theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
}
.theme-icon i {
  position: absolute;
  bottom: -30px;
  z-index: -1;
}
.theme-icon i.active {
  position: absolute;
  bottom: calc(18%);
  transition: 0.7s;
  animation: theme-icon-animation 1s;
  -webkit-animation: theme-icon-animation 1s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  color: var(--color-black);
}
/* light/dark mode icon */
.bi-brightness-high {
  font-size: 25px;
}

/* main */


.section-title {
  padding: 0px 20px;
  color: var(--color-black);
  font-family: var(--font2);
  font-size: 45px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  flex-direction: row;
  justify-content: center;
}

/* div for one movie poster */
.container .movie-poster {
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

/* image inside the movie poster div */

.movie-poster {
  cursor: pointer;
}

.movie-poster img {
  transition: 0.3s all;
  width: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.container .movie-poster:hover img {
  box-shadow: none;
}
/* movie title inside movie poster div */
.movie-poster h3 {
  font-family: var(--font1);
  color: var(--color-black);
}



/* Hide main content initially */
/* header, main {
  display: none; 
} */