/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
:root {
  --color-black: #322d2d;
  --color-dark-gray: #545050;
  --color-white: #fcf9f7;
  --color-yellow: #fdc746;
  --color-orange: #f9ac23;
  --color-dark-orange: #c86c02;
  --font1: "Akatab", sans-serif;
  --font2: "Agbalumo", system-ui;
  --font3: "Anta", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-white);
}

section {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

/* -------------------------------------------- Start header section--------------------------------------------------------------------------- */
header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--color-black);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo .logo {
  width: 45px;
}

.header-logo .website-name {
  font-family: var(--font1);
  color: var(--color-black);
  font-size: 20px;
}

/* nav style */
header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul {
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

header nav ul li {
  height: 100%;
  width: fit-content;
}

/* nav links style */
header .nav-links {
  font-family: var(--font1);
  color: var(--color-black);
  text-decoration: none;
  font-size: var(--font-medium);
  transition: 0.3s all;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

header .nav-links:hover {
  color: var(--color-orange);
}

header .movie-list .movie-Categories {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: 50px;
  width: fit-content;
  height: fit-content;
  display: none;
}

header .movie-list:hover .movie-Categories {
  display: block;
}

header .movie-list .movie-Categories li {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--color-black);
  font-weight: 600;
  font-family: var(--font1);
  font-size: 16px;
}
header .movie-list .movie-Categories li a {
  transition: 0.2s all;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  color: var(--color-black);
}

header .movie-list .movie-Categories li a:hover {
  color: var(--color-orange);
}

header .theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
/* light/dark mode icon */
.bi-brightness-high {
  font-size: 25px;
}
/* ----------------------------------------------------------------End Header Section---------------------------------------------------------------- */
/* ----------------------------------------------------------------main section----------------------------------------------------------------- */

/* containing all items in hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: calc(95vh-50px);
}

.left-side,
.right-side {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
}

.left-side .hero-img {
  width: 100%;
}

/* right side content of hero section */
.right-side {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}
/* the welcome texts */
.hero-text1 {
  font-family: var(--font2);
  color: var(--color-black);
  text-align: center;
  font-size: 75px;
  margin-bottom: 15px;
}

.hero-text2 {
  font-family: var(--font2);
  color: var(--color-dark-gray);
  font-size: 40px;
  margin-bottom: 40px;
  width: 80%;
}

/* search bar and icon */
.hero-section .right-side .search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero-section .right-side .search-bar .search-icon {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #e3e3e3;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-search {
  font-size: 35px;
  color: #bcbcbc;
  cursor: pointer;
}
.search-bar input {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 20px;
  width: 500px;
  border-radius: 50px;
  background-color: #e3e3e3;
}
.search-bar input::placeholder {
  font-size: 20px;
}

/* ------------------------------------------------------------------hero-section-div----------------------------------------------------------------- */
/* Trending Section  */

.section-title {
  font-family: var(--font2);
  font-size: 30px;
  background: linear-gradient(var(--color-dark-orange), var(--color-yellow));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

/* div for one movie poster */
.container .movie-poster {
  text-align: center;
}

/* image inside the movie poster div */
.movie-poster img {
  width: 180px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* movie title inside movie poster div */
.movie-poster h3 {
  font-family: var(--font1);
  color: var(--color-black);
}
.container .movie-poster:last-of-type {
  width: 150px;
  height: 301px;
  background: linear-gradient(var(--color-dark-orange), var(--color-yellow));
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

p {
  font-family: var(--font3);
  color: var(--color-white);
  font-size: 20px;
}

.bi-caret-right-fill {
  font-size: 35px;
  color: var(--color-white);
}
