/* header section */
header{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* contains logo and title */
.header-logo-and-title-div{
    display:flex;
    flex-direction: row;
}

/* contains nav links and sun icon */
.header-links-and-icon-div{
    display:flex;
    align-items: center;
    gap:20px;
}

/* website title */
#website-name{
    font-family:"Rethink Sans", sans-serif;
    color:#595656;
}

/* nav links style */
.navigation-links{
    font-family:"Rethink Sans", sans-serif;
    color:#595656;
    text-decoration: none;
    font-size:15pt;
    padding-left: 25px;
}

/* light/dark mode icon */
.bi-brightness-high{
    font-size:25px;
}

/* containing all items in hero section */
#hero-section-div{
    display:flex;
    align-items: center;
}

/* the welcome texts */
.header-text-h1{
    font-family: "Agbalumo", system-ui;
    color:#545050;
    text-align: center;
    font-size: 50pt;
    margin:0px;
}

.header-text-h2{
    font-family: "Agbalumo", system-ui;
    color:#545050;
    font-size: 25pt;
    margin-bottom:40px;
}

/* right side content of hero section */
.right-side-content-div{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

/* search bar and icon */
#hero-section-div div .search-bar-div{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

/* search bar icon */
.bi-search{
    font-size: 30pt;
}

/* search bar */
#search-bar{
    padding:20px;
    width:500px;
    border-radius: 50px;
    background-color: #E3E3E3;
    border:none;
}

/* general class for all the sections */
.sections{
    margin-left: 100px;
}

/* section titles */
.section-title{
    font-family: "Agbalumo", system-ui;
    font-size: 25pt;
    background: linear-gradient(#c86c02, #FDC746);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* contains all movie poster divs */
.container{
    display: flex;
    justify-content: space-evenly;
}

/* div for one movie poster */
.movie-poster-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image inside the movie poster div */
.movie-poster-div img{
    width:200px;
    border-radius: 20px;
}

/* movie title inside movie poster div */
.movie-poster-div h3{
    font-family:"Rethink Sans", sans-serif;
    color:#595656;
}

.categories-and-button-div{
    display: flex;
    flex-direction: column;
    /* border:2px solid red; */
}

/* see all movies button */
#see-all-movies-btn{
    width:90%;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin:20px;
    height:150px;
}