:root {
  --color-black: #322d2d;
  --color-dark-gray: #545050;
  --color-white: #fcf9f7;
  /* --color-grey: #e3e3e3; */

  /* --color-dark-grey: #bcbcbc; */
  --color-yellow: #fdc746;
  --color-orange: #f9ac23;
  --color-dark-orange: #c86c02;
  --color-dark: var(--color-black);
  --color-light: rgba(132, 139, 200, 0.18);
  --font1: "Akatab", sans-serif;
  --font2: "Agbalumo", system-ui;
  --font3: "Anta", sans-serif;
  --box-shadow: 0 32px 48px var(--color-light);
}

.loading-container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 100vh;
  /* padding: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* margin-left: 690px;
  margin-top: 200px; */
  background-color: var(--color-white);
}

.loading-container img {
  width: 100px;
}

.loading-container .loader {
  width: 100px;
  aspect-ratio: 4;
  --_g: no-repeat
    radial-gradient(circle closest-side, var(--color-orange) 90%, transparent);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }

  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }

  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
