@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-black: #322d2d;
  --color-white: #fcf9f7;
  --color-grey1: #e3e3e3;
  --color-grey2: #bcbcbc;
  --color-grey3: #555555;
  --color-yellow: #fdc746;
  --color-orange: #f9ac23;
  --color-dark-orange: #c86c02;
  --font1: "Akatab", sans-serif;
  --font2: "Agbalumo", system-ui;
  --font3: "Afacad", sans-serif;
  --color-light: rgba(132, 139, 200, 0.18);
  --box-shadow: 0 32px 48px var(--color-light);
}

html {
  scroll-behavior: smooth;
}
.dark-theme {
  --color-black: #fcf9f7;
  --color-white: #322d2d;
  --color-dark-gray: var(--color-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-white);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
section {
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}
main {
  padding: 0 30px;
}

/* -------------------------------------------- Start header section--------------------------------------------------------------------------- */
header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--color-black);
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo .logo {
  width: 45px;
}

/* nav links style */
header .nav-links {
  font-family: var(--font1);
  color: var(--color-black);
  text-decoration: none;
  font-size: var(--font-medium);
  transition: 0.3s all;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

header .nav-links:hover {
  color: var(--color-orange);
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul {
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

header nav ul li {
  height: 100%;
  width: fit-content;
}
header .movie-list .movie-Categories {
  background-color: var(--color-white);
  width: 500px;
  height: 500px;
  position: absolute;
  display: none;
  grid-template-columns: 250px 250px;
  padding: 0;
  top: 50px;
  gap: 0;
  box-shadow: var(--box-shadow);
}

header .movie-list:hover .movie-Categories {
  display: grid;
}

header .movie-list .movie-Categories li {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: var(--font1);
  font-size: 16px;
}

header .movie-list .movie-Categories li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s all;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  color: var(--color-black);
  padding: 0 20px;
}

header .movie-list .movie-Categories li a:hover {
  color: var(--color-orange);
  box-shadow: var(--color-light) 0px 3px 8px;
}

/* right header */
.right-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.search-bar-div {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bi-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 18px;
  color: var(--color-grey2);
  cursor: pointer;
}

.search-bar-div input {
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 35px;
  width: 250px;
  border-radius: 50px;
  background-color: var(--color-grey1);
}

.search-bar-div input::placeholder {
  font-size: 15px;
  color: var(--color-grey3);
}

/* ------------------------------------------------------------ Start theme search section-------------------------------------------------- */
@keyframes theme-icon-animation {
  1% {
    .theme-icon i {
      bottom: -22px;
      z-index: 1;
    }
  }
  40% {
    .theme-icon i {
      bottom: -7px;
    }
  }
  70% {
    .theme-icon i {
      bottom: 20px;
    }
  }
  100% {
    .theme-icon i {
      bottom: 13px;
    }
  }
}

header .right-header .theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
}
.theme-icon i {
  position: absolute;
  bottom: -30px;
  z-index: -1;
}
.theme-icon i.active {
  position: absolute;
  bottom: calc(18%);
  transition: 0.7s;
  animation: theme-icon-animation 1s;
  -webkit-animation: theme-icon-animation 1s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  color: var(--color-black);
}
/* light/dark mode icon */
.bi-brightness-high {
  font-size: 25px;
}
/* main */
.section-title {
  padding: 0px 20px;
  color: var(--color-black);
}
.section-title {
  font-family: var(--font2);
  font-size: 45px;
  margin-bottom: 50px;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 25px;
}

.movie-poster {
  cursor: pointer;
}

.movie-poster img {
  width: 200px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.movie-poster h3 {
  width: 200px;
  font-family: var(--font1);
  text-align: center;
  color: var(--color-black);
}

/* search results list style */
.search-bar {
  position: relative;
}
.search-res-list {
  position: absolute;
  width: 300px;
  height: fit-content;
  background-color: #eee;
  top: 46px;
  left: -30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  list-style-type: none;
  overflow-y: hidden;
}
.search-res-list li {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  margin-bottom: 1px;
  border-bottom: 1px solid var(--color-white);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}
.search-res-list li .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.search-res-list li img {
  height: 100%;
}
.search-res-list li div {
  padding-left: 5px;
  width: 100%;
  height: 100%;
}
