:root {
  --color-black: #322d2d;
  --color-white: #fcf9f7;
  --color-yellow: #fdc746;
  --color-orange: #f9ac23;
  --color-dark-orange: #c86c02;
  --font1: "Akatab", sans-serif;
  --font2: "Agbalumo", system-ui;
  --font3: "Anta", sans-serif;
}

.section-title {
  font-family: var(--font2);
  font-size: 30px;
  background: linear-gradient(var(--color-dark-orange), var(--color-yellow));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 0;
  margin-left: 30px;
}

.movies {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

/* div for one movie poster */
.movie-poster-div {
  position: relative;
}

/* image inside the movie poster div */
.movie-poster-div img {
  width: 200px;
  border-radius: 20px;
  filter: brightness(30%);
}

.category-text {
  font-family: var(--font3);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background: linear-gradient(var(--color-dark-orange), var(--color-white));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.see-all-movies-div {
  position: relative;
}

.see-all-movies-div img {
  filter: brightness(30%);
  width: 90%;
  margin-left: 80px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.see-all-movies-div h3 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background: linear-gradient(var(--color-dark-orange), var(--color-white));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font3);
  font-size: 60px;
}
