:root {
    --color-black: #322d2d;
    --color-white: #fcf9f7;
    --color-orange: #f9ac23;
    --color-paragraph:#595656;
    --font1: "Akatab", sans-serif;
    --font2: "Agbalumo", system-ui;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 100px;
    margin: 0px 30px;
    height: 75vh;
}
.about .about-content{
    display: flex;
    align-items: center;
    margin-top: -150px;
    justify-content: space-between;
}
h1{
    font-size: 40px;
    font-family: var(--font2);
    background: linear-gradient(#c86c02, #FDC746);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about .about-content p{
    width: 50%;
    font-size: 25px;
    font-weight: 500;
    color: var(--color-paragraph);
    font-family: var(--font1);
}.about .about-content img{
    width: 48%;
}
/* ------------------------------------footer------------------------------- */
footer{
    background-color: var(--color-paragraph);
    color: var(--color-white);
    font-family: var(--font1);
    display: flex;
    justify-content: flex-start;
    column-gap: 500px;
    padding: 20px 100px;
    height: 25vh;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .left-footer{
    display: flex;
    flex-direction: column;
    
}
footer .left-footer h3{
    margin-bottom: 5px;
}
footer .left-footer ul{
    margin-left: 20px;
    margin-top: 5px;
}
footer .left-footer ul li{
    margin-bottom: 5px;

}
footer .right-footer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
}
footer .right-footer ul{
    margin-left: 30px;
}
footer .right-footer ul li{
    margin-bottom: 5px;
}
footer a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font1);
    display: flex;
    column-gap: 5px;
}
footer .right-footer a div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icons color */
/* Facebook */
.facebook {
    background: linear-gradient(45deg, #3b5998, #8b9dc3);
}

/* Instagram */
.instagram {
    background: linear-gradient(45deg, #f58529, #f77737, #fd1d1d, #c13584, #8356b2);
}

/* LinkedIn */
.linkedin {
    background: linear-gradient(45deg, #0077b5, #00a0dc);
}

/* Email */
.email {
    background: linear-gradient(45deg, #d44638, #f4b400);
}
